body {
    font-family: sans-serif;
    padding: 10px;
}

button {
    padding: 10px 20px;
    margin-bottom: 10px;
}

#result {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}
#myButton{
    display:block;
}

.hidden {
    display: none;
}